---
import SpaceBg from '~/components/ui/Space-bg.astro';
import Layout from '~/layouts/PageLayout.astro';
import Brands from '~/components/widgets/Brands.astro';
const metadata = {
  title: 'SES — Aliados',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <SpaceBg />
  <div class="relative pt-28 mx-auto max-w-7xl md:px-24 md:py-12 2xl:pt-28 2xl:pb-16 text-default">
    <Brands
      title="Aliados"
      subtitle="En Softwow, creemos en la colaboración para impulsar la innovación y crear experiencias excepcionales."
      icons={[]}
      images={[
        {
          src: '~/assets/images/camara.webp',
          alt: 'Paypal',
        },
        {
          src: '~/assets/images/sblakepan.webp',
          alt: 'Paypal',
        },
        {
          src: '~/assets/images/gobernacion.webp',
          alt: 'Paypal',
        },
        {
          src: '~/assets/images/cherioth.webp',
          alt: 'Paypal',
        },
        {
          src: '~/assets/images/basilica.webp',
          alt: 'Paypal',
        },
        {
          src: '~/assets/images/vivemax.webp',
          alt: 'Paypal',
        },
        {
          src: '~/assets/images/remipay.webp',
          alt: 'Paypal',
        },
        {
          src: '~/assets/images/monarca.webp',
          alt: 'Paypal',
        },

        {
          src: '~/assets/images/pipeshopping.webp',
          alt: 'Paypal',
        },
        {
          src: '~/assets/images/adriana.webp',
          alt: 'Paypal',
        },
      ]}
    />
  </div>
<!--   <div class="relative pt-16 mx-auto max-w-7xl md:px-24 md:pt-0 2xl:pt-0 text-default">
    <Brands
      title="clientes"
      subtitle="At Astrowind, we believe in the power of collaboration to drive innovation and create exceptional experiences."
      images={[
        {
          src: '~/assets/images/cheriot.webp',
          alt: 'Paypal',
        },
        {
          src: '~/assets/images/basilica.webp',
          alt: 'Paypal',
        },
        {
          src: '~/assets/images/vivemax.webp',
          alt: 'Paypal',
        },
        {
          src: '~/assets/images/remipay.webp',
          alt: 'Paypal',
        },
        {
          src: '~/assets/images/monarca.webp',
          alt: 'Paypal',
        },

        {
          src: '~/assets/images/pipeshopping.webp',
          alt: 'Paypal',
        },
        {
          src: '~/assets/images/basilica.webp',
          alt: 'Paypal',
        },
      ]}
    />
  </div> -->
</Layout>
