---
import SpaceBg from '~/components/ui/Space-bg.astro';
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content2.astro';
import logoSoftwow from '~/assets/images/softwow-blanco.webp';
import { Image } from 'astro:assets';
import test from '../assets/images/retrato-jovenes-globo.jpg'

const metadata = {
  title: 'SES — Softwow Ecommerce Services',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <SpaceBg />
  <!--   <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  /> -->
  <div class="pt-28">
    <div class="flex flex-col md:flex-row md:justify-evenly md:gap-20">
      <Content
        isReversed
        image={{
          src: test,
          alt: 'Features Image',
        }}
      >
        <Fragment slot="content">
          <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Comunicación</h3>
        </Fragment>
      </Content>
      <Image class="w-100" src={logoSoftwow} alt="imagen ses" />
      <Content
        isReversed
        image={{
          src: test,
          alt: 'Features Image',
        }}
      >
        <Fragment slot="content">
          <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Seguimiento</h3>
        </Fragment>
      </Content>
    </div>
    <div class="flex flex-col md:flex-row justify-center md:gap-20 pb-7">
      <Content
        isReversed
        image={{
          src: test,
          alt: 'Features Image',
        }}
      >
        <Fragment slot="content">
          <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Resultados</h3>
        </Fragment>
      </Content>
      <Content
        isReversed
        image={{
          src: test,
          alt: 'Features Image',
        }}
      >
        <Fragment slot="content">
          <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Desempeño</h3>
        </Fragment>
      </Content>
    </div>
  </div>
</Layout>
