---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import SpaceBg from '~/components/ui/Space-bg.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import SocialMedia from '~/components/ui/SocialMedia.astro';

const metadata = {
  title: 'SES — Softwow Ecommerce Services',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <SpaceBg />
  <Hero image={{ src: '~/assets/images/logoBlanco.webp', alt: 'SES logo imagen' }}>
    <Fragment slot="title">
      <span class="xl:inline">¡Alcanza las Estrellas!</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="sm:inline"> <span class="font-semibold">Tu E-commerce, Nuestro Universo</span></span>
    </Fragment>
  </Hero>
  <SocialMedia class="hidden md:hidden" />
</Layout>
