---
import SpaceBg from '../../components/ui/Space-bg.astro'
import Layout from '../../layouts/PageLayout.astro';
import Badges from '../../components/ui/Badges.astro'
const metadata = {
  title: 'SES — Softwow Ecommerce Services',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
   <SpaceBg />
    <div class="flex justify-center pt-20">
     <Badges></Badges>
 </div>


</Layout>

